:root {
    --background-color: white;
    --text-color: black;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    overflow: hidden;
    background-color: #003262;
    color: white;
}

.profile-picture-container {
    flex: 4 4 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 4%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 24%;
    height: auto;
    box-shadow: 0 5px 20px black;
}

.profile-description {
    flex: 6 6 100%;
    max-width: 100%;
    height: auto;
    padding: 4%;
    box-sizing: border-box;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.down-arrow {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-image {
    width: 2.5vw;
    height: auto;
    transition: all 0.4s;
}

#arrow-image:hover {
    opacity: 0.7;
    cursor: pointer;
}

.down-arrow a {
    color: white;
    text-decoration: none;
}

.down-arrow a:link {
    color: white;
    text-decoration: none;
}

.down-arrow a:visited {
    color: white;
    text-decoration: none;
}

.projects {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: rgba(185, 164, 40, 0.568);
}

.projects h2 {
    color: #003262;
    font-size: 44px;
    margin: 80px;
}

.project-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    padding: 2% 5%;
    padding-top: 0;
    box-sizing: border-box;
}

.project-card {
    flex: 1 1 27%;
    max-width: 27%;
    height: auto;
    border-radius: 20px;
    background-color: #003262;
    color: white;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 0 5px 20px black;
}

.project-image-container {
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    max-height: 99%;
    max-width: 99%;
    border: 2px solid white;
}

.project-title {
    width: 100%;
    height: auto;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #003262;
    font-size: 30px;
}

.project-description {
    font-size: 17px;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
}

.ghost-card {
    flex: 1 1 27%;
    max-width: 27%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    color: transparent;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
}

.ghost-title {
    width: 100%;
    height: auto;
    color: transparent;
    padding: 1%;
    box-sizing: border-box;
    font-size: 22px;
}

.ghost-description {
    font-size: 16px;
    color: transparent;
    padding: 1%;
    box-sizing: border-box;
}
