:root {
    --background-color: white;
    --text-color: black;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #003262;
    color: white;
}

.profile-picture-container {
    flex: 4 4 40%;
    max-width: 40%;
    height: 100%;
    box-sizing: border-box;
    padding: 4%;
    margin: 0;
}

.profile-picture {
    border-radius: 50%;
    width: 60%;
    height: auto;
    box-shadow: 0 5px 20px black;
    margin-left: 30%;
}

.profile-description {
    flex: 6 6 60%;
    max-width: 60%;
    height: 100%;
    padding: 4%;
    box-sizing: border-box;
    margin: auto;
    font-size: 20px;
}

.projects {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: rgba(185, 164, 40, 0.568);
}

.projects h2 {
    color: #003262;
    font-size: 32px;
    margin: 30px;
}

.project-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2% 5%;
    padding-top: 0;
    box-sizing: border-box;
}

.project-card {
    flex: 1 1 27%;
    max-width: 27%;
    height: auto;
    border-radius: 10px;
    background-color: #003262;
    color: white;
    margin: 1%;
}

.project-title {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #003262;
    font-size: 18px;
}

.project-description {
    font-size: 16px;
    color: white;
    padding: 1%;
    box-sizing: border-box;
}

.ghost-card {
    flex: 1 1 27%;
    max-width: 27%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    color: transparent;
    margin: 1%;
}

.ghost-title {
    width: 100%;
    height: auto;
    background-color: transparent;
    color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    font-size: 18px;
}

.ghost-description {
    font-size: 16px;
    color: transparent;
    padding: 1%;
    box-sizing: border-box;
}
