:root {
    --background-color: white;
    --text-color: black;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    overflow: hidden;
    background-color: #003262;
    color: white;
}

.profile-picture-container {
    flex: 4 4 40%;
    height: auto;
    box-sizing: border-box;
    padding: 4%;
    margin: 0;
}

.profile-picture {
    border-radius: 50%;
    width: 70%;
    height: auto;
    box-shadow: 0 5px 20px black;
    margin-left: 20%;
}

.profile-description {
    flex: 6 6 60%;
    height: auto;
    padding: 4%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: auto;
    font-size: 20px;
}

.down-arrow {
    flex: 0 0 100%;
    height: auto;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-image {
    width: 2.5vw;
    height: auto;
    transition: all 0.4s;
}

#arrow-image:hover {
    opacity: 0.7;
    cursor: pointer;
}

.down-arrow a {
    color: white;
    text-decoration: none;
}

.down-arrow a:link {
    color: white;
    text-decoration: none;
}

.down-arrow a:visited {
    color: white;
    text-decoration: none;
}

.portfolio-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: 'menu content';
    align-content: center;
    background-color: rgba(185, 164, 40, 0.568);
}

.portfolio-menu {
    grid-area: menu;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    border-right: 2px solid #003262;
}

.portfolio {
    grid-area: content;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

h2.menu, #portfolio-title {
    color: #003262;
    display: inline;
    text-decoration: none;
}

#portfolio-title {
    font-size: 44px;
    margin: 80px;
}

h2.menu {
    text-align: left;
    font-size: 24px;
    padding: 1% 10%;
    margin: 2%;
    box-sizing: border-box;
    font-variant: small-caps;
}

h2.menu#Projects {
    margin-top: 20%;
}

h2.menu:hover {
    cursor: pointer;
}

h2.menu.selected {
    text-decoration: underline #003262 solid;
}

.project-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    padding: 2% 5%;
    padding-top: 0;
    box-sizing: border-box;
}

.project-card {
    flex: 1 1 27%;
    max-width: 27%;
    height: auto;
    border-radius: 20px;
    background-color: #003262;
    color: white;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 0 5px 20px black;
}

.project-image-container {
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    max-height: 99%;
    max-width: 99%;
    border: 2px solid white;
}

.project-title {
    width: 100%;
    height: auto;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #003262;
    font-size: 30px;
}

.project-description {
    font-size: 17px;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
}

.ghost-card {
    flex: 1 1 27%;
    max-width: 27%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    color: transparent;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
}

.ghost-title {
    width: 100%;
    height: auto;
    color: transparent;
    padding: 1%;
    box-sizing: border-box;
    font-size: 22px;
}

.ghost-description {
    font-size: 16px;
    color: transparent;
    padding: 1%;
    box-sizing: border-box;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.disable-drag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

footer {
    background-color: #003262;
    color: white;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    padding: 0;
}
